{% extends 'base.html' %}

{% block content %}

<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    <!-- Сообщение о правильном/неправильном ответе -->
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}

    {% if word == False %}
        <h3>Нет слов для изучения</h3>
        <br>
        <a href="{% url 'users:add_words' %}">Добавить слова</a>
    {% endif %}

    <!-- Первое задание -->
    {% if word.stage == 0 %}
        <p>{{ word.word }}</p>
        <p>{{ word.translation }}</p>
        <form method="post">
            <input type="hidden" name="answer" value="nezadanie,apervonachalniyprosmotrslovaiperevoda">
            <input type="hidden" name="word_id" value="{{ id }}">
            <button id="next-button">Далее</button>
        </form>
    {% endif %}

    <!-- Второе задание -->
    {% if word.stage == 1 %}
        <h4>Выбери правильный перевод слова</h4>
        <p>{{ word.translation }}</p>
        <form method="post">
            {% csrf_token %}
            {% for choice in choices %}
                <label><input type="radio" name="answer" value="{{ choice }}"> {{ choice }}</label><br>
            {% endfor %}
            <input type="hidden" name="word_id" value="{{ id }}">
            <button type="submit">Проверить</button>
        </form>
    {% endif %}

    <!-- Третье задание -->
    {% if word.stage == 2 %}
        <p>{{ word.translation }}</p>
        <form method="post">
            <input type="text" name="answer" placeholder="Введите слово" >
            <input type="hidden" name="word_id" value="{{ id }}">
            <br>
            <button>Проверить</button>
        </form>
    {% endif %}
</form>

{% endblock %}
