{% extends 'base.html' %}  
   
{% block content %}  
<h1>Добавить слова</h1>

{% include "users/includes/profile_menu.html" %}

<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    <!-- Сообщение о добавленном слове или об ошибке -->
    {% if messages %}
        {% for message in messages %}
            <h3>{{ message }}</h3>
        {% endfor %}
    {% endif %}

    <ul>
        {% for word in words %}
            <li>
                <span class="dictionary_word">
                    <span class="word">{{ word.word }}</span>
                    <span class="translation"> - {{ word.translation }}</span>
                    {% if word.phrase %}
                        <span class="phrase"> - {{ word.phrase }}</span>
                    {% endif %}
                    {% if word.image %}
                        <img src="{{ word.image.url }}">
                    {% endif %}
                    {% if word.voice %}
                        <audio src="{{word.voice.url}}" type="audio/mpeg"></audio>
                    {% endif %}
                </span>
                <form method="post">
                    {% csrf_token %}
                    <input type="hidden" name="word_id" value="{{ word.id }}">
                    <button type="submit">Добавить</button>
                </form>
            </li>
            <br>
        {% endfor %}
    </ul>
</form>

 {% endblock %}