{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Профиль</h1>

  {% include "users/includes/profile_menu.html" %}

  <form method="post">
    {% csrf_token %}

    <!-- Сообщение об ошибках формы -->
    <div class="form-error text-danger mb-3">{{ form.non_field_errors }}</div>

    <!-- Поля формы -->
    {% for f in form %}
    <div class="mb-3">
      <label class="form-label" for="{{ f.id_for_label }}"
        >{{ f.label }}:</label
      >
      <input
        type="{{ f.type }}"
        class="form-control"
        name="{{ f.name }}"
        id="{{ f.id_for_label }}"
        value="{{ f.value|default:'' }}"
      />
      <div class="form-error text-danger mt-1">{{ f.errors }}</div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary w-100 py-2">Сохранить</button>
  </form>

  <hr />
  <p>
    <a href="{% url 'users:password_change' %}" class="btn btn-link"
      >Сменить пароль</a
    >
  </p>
</div>
{% endblock %}
