{% extends 'base.html' %} {% block content %}
<div class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="card shadow-lg p-4" style="max-width: 400px; width: 100%">
    <h1 class="text-center mb-4">Регистрация</h1>

    <form method="post">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />

      {% for f in form %}
      <div class="mb-3">
        <label class="form-label" for="{{ f.id_for_label }}"
          >{{ f.label }}</label
        >
        <input
          type="{{ f.type }}"
          name="{{ f.name }}"
          id="{{ f.id_for_label }}"
          value="{{ f.value|default:'' }}"
          class="form-control"
        />
        <div class="form-error text-danger mt-1">{{ f.errors }}</div>
      </div>
      {% endfor %}

      <button type="submit" class="btn btn-primary w-100">Регистрация</button>
    </form>
  </div>
</div>

{% endblock %}
